<template>
  <v-container>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="cname"
        :rules="cnameRules"
        label="Company Name"
        required
      ></v-text-field>

      <v-text-field
        v-model="cemail"
        :rules="cemailRules"
        label="Company E-mail"
        required
      ></v-text-field>
      <v-text-field
        v-model="cphone"
        :rules="cphonerules"
        label="Company Phone"
        required
      ></v-text-field>
      <v-text-field
        v-model="jobname"
        :rules="jobnamerules"
        label="Job Name"
        required
      ></v-text-field>
      <v-text-field
        v-model="jdescription"
        :rules="jdescriptionrules"
        label="Job Description"
        required
      ></v-text-field>
      <v-text-field
        v-model="jqualification"
        :rules="jqualificationrules"
        label="Job Qualification"
        required
      ></v-text-field>
      <v-text-field
        v-model="jlocation"
        :rules="jlocationrules"
        label="Job Location"
        required
      ></v-text-field>
      <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
        Create
      </v-btn>
    </v-form>

    <v-row no-gutters style="height: 150px" v-if="jobs !='No Data Found'">
      <v-col cols="12" sm="4" v-for="job in jobs" :key="job._id">
        <v-card class="mx-auto" max-width="344">
          <v-card-text>
            <p class="display-1 text--primary">{{ job.jobname }}</p>
            <p>{{ job.cname }}</p>
            <div class="text--primary">
              <p>{{ job.cemail }}</p>
              <p>{{ job.cphone }}</p>
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="teal accent-4" @click="reveal = true">
              <router-link
                :to="{ name: 'JobApply', params: { post: job.jobname } }"
                class="applybtn"
                >View</router-link
              >
            </v-btn>
             <v-btn text color="teal accent-4" @click="reveal = true">
              <router-link
                :to="{ name: 'JobApplied', params: { applied: job.jobname } }"
                class="applybtn"
                >Appied Users</router-link
              >
            </v-btn>
            <v-btn
              text
              color="teal accent-4"
              v-bind:id="`${job._id}`"
              @click="deletebtn"
            >
              Delete
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
    <div v-else class="subtitle-2 text-center">No Jobs</div>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    valid: true,
    reveal: false,
    jobs: [],
    cname: "",
    cnameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length !=0) || "Name must be less than 10 characters",
    ],
    cemail: "",
    cemailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    cphone: "",
    cphonerules: [
      (v) => !!v || "Phone Nymber is required",
      (v) => (v && v.length == 10) || "Phone Number Is Required",
    ],
    jobname: "",
    jobnamerules: [
      (v) => !!v || "Job Name is required",
      (v) => (v && v.length != 0) || "Job Name Is Required",
    ],
    jdescription: "",
    jdescriptionrules: [
      (v) => !!v || "Description is required",
      (v) => (v && v.length != 0) || "Description Is Required",
    ],
    jqualification: "",
    jqualificationrules: [
      (v) => !!v || "Qualification is required",
      (v) => (v && v.length != 0) || "Qualification Is Required",
    ],
    jlocation: "",
    jlocationrules: [
      (v) => !!v || "Location is required",
      (v) => (v && v.length != 0) || "Location Is Required",
    ],
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
      console.log(
        this.cname,
        this.cemail,
        this.cphone,
        this.jobname,
        this.jdescription,
        this.jlocation,
        this.jqualification
      );
      axios
        .post("http://localhost:4000/createjob", {
          cname: this.cname,
          cemail: this.cemail,
          cphone: this.cphone,
          jobname: this.jobname,
          jobdes: this.jdescription,
          jlocation: this.jlocation,
          jqualification: this.jqualification,
        })
        .then((res) => {
          window.location.reload();
          console.log(res);
        });
    },
    deletebtn(event) {
      var postdelid = event.path[1].id      
      axios
        .post("http://localhost:4000/jobdelete", {
          id: postdelid,
        })
        .then((res) => {
          console.log(res.data);
          window.location.reload();
        });
    },
  },
  async mounted() {
    await axios.get("http://localhost:4000/jobget").then((res) => {      
      this.jobs = res.data;
    });
    console.log(this.jobs)
  },
};
</script>

<style>
.grey .lighten-5 {
  margin-top: 20px !important;
}
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
</style>