<template>
  <v-container class="grey lighten-5">
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Email</th>
            <th class="text-left">Phone</th>
            <th class="text-left">Qualification</th>
            <th class="text-left">Applied Job</th>
          </tr>
        </thead>
        <tbody v-if="appliedusers != undefined">
          <tr v-for="user in appliedusers" :key="user._id">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.number }}</td>
            <td>{{ user.qualification }}</td>
            <td>{{ user.appliedfor }}</td>
          </tr>
        </tbody>
        <div
          v-else
          class="subtitle-2 text-center"
        >
          No Users
        </div>
      </template>
    </v-simple-table>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      appliedusers: undefined,
    };
  },
  mounted() {
    var applied = this.$route.params.applied;
    axios.get("http://localhost:4000/").then((res) => {
      var users = [];
      res.data.forEach((data) => {
        if (data.appliedfor === applied) {
          users.push(data);
        }
      });
      this.appliedusers = users;
      console.log(this.appliedusers);
    });
  },
};
</script>

<style>
</style>