<template>
  <v-container class="grey lighten-5">
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-text-field
        v-model="name"
        :rules="nameRules"
        label="Name"
        required
      ></v-text-field>

      <v-text-field
        v-model="email"
        :rules="emailRules"
        label="E-mail"
        required
      ></v-text-field>
      <v-text-field
        v-model="phone"
        :rules="phonerules"
        label="Phone"
        required
      ></v-text-field>
      <v-text-field
        v-model="qulification"
        :rules="qulificationrules"
        label="Qulification"
        required
      ></v-text-field>
      <v-text-field
        v-model="experience"
        :rules="experiencerules"
        label="Experience"
        required
      ></v-text-field>
      <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
        Apply
      </v-btn>
    </v-form>
  </v-container>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    valid: true,
    name: "",
    postapply: "",
    nameRules: [
      (v) => !!v || "Name is required",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    phone: "",
    phonerules: [
      (v) => !!v || "Phone Nymber is required",
      (v) => (v && v.length == 10) || "Phone Number Is Required",
    ],
    qulification: "",
    qulificationrules: [
      (v) => !!v || "Qulification is required",
      (v) => (v && v.length != 0) || "Qulification Is Required",
    ],
    experience: "",
    experiencerules: [
      (v) => !!v || "Experience is required",
      (v) => (v && v.length != 0) || "Experience Is Required",
    ],
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
      console.log(
        this.name,
        this.email,
        this.phone,
        this.qulification,
        this.experience,
        this.postapply
      );
      axios
        .post("http://localhost:4000/senddata", {
          name: this.name,
          email: this.email,
          number: this.phone,
          qualification: this.qulification,
          category: this.experience,
          approved: false,
          appliedfor: this.postapply,
        })
        .then(function (response) {
          console.log(response.data);
          setTimeout(() => {
            window.location.replace("/");
          }, 1000);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
  mounted() {
    this.postapply = this.$route.params.postapply;
  },
};
</script>

<style>
.container {
  margin-top: 5% !important;
}
</style>