<template>
  <!-- <v-container class="grey lighten-5"> -->
  <v-row no-gutters>
    <v-col cols="3">
     
    </v-col>
    <v-col cols="8" >
      <v-card
        :loading="loading"
        class="mx-auto my-12"
        max-width="auto"
        v-for="item in newJobs"
        :key="item.jobname"
        sm="12"
      >
        <template slot="progress">
          <v-progress-linear
            color="deep-purple"
            height="10"
            indeterminate
          ></v-progress-linear>
        </template>

        <v-card-title>{{item.jobname}} (<span>{{item.jqualification}}</span>) </v-card-title>

        <v-card-text>             
          <div>
           {{item.jobdes}}
          </div>
        </v-card-text>        
        <v-card-title>{{item.cname}}</v-card-title>

        <v-card-text>
            <div>
           {{item.cemail}} <span class="cphone">{{item.cphone}}</span>
          </div>        
          <v-chip-group
            v-model="selection"
            active-class="deep-purple accent-4 white--text"
            column
          >
            <v-chip>{{item.jlocation}}</v-chip>
          </v-chip-group>
        </v-card-text>

        <v-card-actions>
          <v-btn color="deep-purple lighten-2" text @click="reserve">
            <router-link :to="{name:'JobApply',params:{post:item.jobname} }" class="applybtn" >Apply</router-link>            
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
     <v-col cols="1">
     
    </v-col>
  </v-row>
  <!-- </v-container> -->
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  data() {
    return {
      newJobs: [],
      loading: false,
      selection: 1,    
    };
  },
  methods: {
    reserve() {
      this.loading = true;

      setTimeout(() => (this.loading = false), 2000);
    },
  },
  async mounted() {
    await axios.get("http://localhost:4000/jobget").then((res) => {
      console.log(res.data)
      this.newJobs = res.data;
    });
    
  },
  
};
</script>
<style>
.cphone{
  margin-left: 20px;
}
.applybtn{
  text-decoration: none;
}
</style>