<template>
  <!-- <v-container class="grey lighten-5"> -->
  <v-row no-gutters>
    <v-col cols="1"> </v-col>
    <v-col cols="6">
      <v-card class="mx-auto" max-width="auto">
        <v-card-text>
          <p class="display-1 text--primary">{{ posts.jobname }}</p>
          <p>{{ posts.jqualification }}</p>
        </v-card-text>
        <v-card-actions>
          <v-btn text color="teal accent-4" @click="reveal = true">
             <router-link
              :to="{ name: 'ApplyForm', params: { postapply: posts.jobname } }"
              class="applybtn"
              >Apply</router-link
            >
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-card class="mx-auto" max-width="auto">
        <v-card-text>
          <p class="display-1 text--primary">Description</p>
          <div class="text--primary">
            {{ posts.jobdes }}
          </div>
        </v-card-text>
        <v-card-actions> </v-card-actions>
      </v-card>
      <v-card class="mx-auto" max-width="auto">
        <v-card-text>
          <p class="display-1 text--primary">Address</p>
          <div class="text--primary">
            <p>{{ posts.cname }}</p>
            <p>{{ posts.cemail }}</p>
            <p>{{ posts.cphone }}</p>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="4">
      <v-card class="mx-auto" max-width="344">
        <v-card-text v-for="otherpost in otherposts" :key="otherpost._id">
          <p class="display-1 text--primary">{{ otherpost.jobname }}</p>
          <p>{{ otherpost.cname }}</p>
          <div class="text--primary">
            {{ otherpost.jlocation }}
          </div>
          <v-btn text color="teal accent-4" @click="reveal">
            <router-link
              :to="{ name: 'JobApply', params: { post: otherpost.jobname } }"
              class="applybtn"
              >Apply</router-link
            >
          </v-btn>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="1"> </v-col>
  </v-row>
  <!-- </v-container> -->
</template>

<script>
import axios from "axios";
export default {
  name: "JobApply",
  props: ["post"],
  data() {
    return {
      posts: [],
      otherposts: [],
    };
  },
  methods: {
    reveal: function () {
      window.location.reload();
    },
  },
  async mounted() {
    var post = this.$route.params.post;
    await axios.get("http://localhost:4000/jobget").then((res) => {
      res.data.forEach((data) => {
        if (data.jobname === post) {
          this.posts = data;
        } else {
          this.otherposts = [data];
        }
      });      
    });
  },
};
</script>

<style>
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
.no-gutters {
  margin-top: 20px !important;
}
.mx-auto {
  margin-top: 10px !important;
}
.applybtn {
  text-decoration: none;
}
</style>