<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">        
        <router-link to="/" class="logo" >Job Application</router-link>
      </div>

      <v-spacer></v-spacer>
      <div class="d-flex align-center">           
        <router-link to="/jobcreate" class="logo1" >Job Create</router-link>
      </div>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import HelloWorld from "./components/HelloWorld";

export default {
  name: "App",

  components: {
    HelloWorld,
  },

  data: () => ({
    //
  }),
};
</script>
<style>
.logo{
  color: white !important;
  text-decoration: none;  
}
.logo1{
  color: white !important;
  text-decoration: none; 
  margin-right: 15px !important; 
}
</style>